if INPUT_FINGERPRINT
config SUNWAVE_FINGERPRINT
	tristate "sunwave fingureprint driver"
	depends on SPI
	default n
	---help---
	  sunwave fingureprint driver.
	  This is a driver based on the SPI kernel layers.

	  To compile this driver as a module, choose m here. The module will
	  be called fpsensor.
	  Say N if unsure.
endif
